.App {
  text-align: center;
}
.topNav {
  overflow: hidden;
  background: linear-gradient(-4deg, #c850c0, #4158d0);
  width: 100%;
  color: #f5eded;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2vw;
  border-radius: 5px;
}
.btn-image {
  padding-right: 0.5vw;
}
